@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure,
ion-icon {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: #252525;
  color: #f5f5f5;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

button {
  cursor: pointer;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #252525;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

ion-icon {
  height: 100%;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 2em;
}
.header__logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background-color: #252525;
  color: #f5f5f5;
  border-radius: 5em;
  padding: 1em;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 100%;
  gap: 1em;
  font-size: 1.3em;
  font-weight: 500;
}
.menu__item {
  transition: all 1s ease;
}
.menu__item:hover {
  transition: 0.1s;
  color: #949698;
}

.log {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-end;
  width: 13em;
  height: 3em;
  gap: 1em;
  padding: 0.5em 0.5em 0.5em 1.5em;
  background-color: #d7d9dd;
  border-radius: 0.8em;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
.log__up {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  color: #f5f5f5;
  background-color: #252525;
  backdrop-filter: blur(1em);
  border-radius: 0.5em;
  text-transform: uppercase;
  transition: all 1s;
  user-select: none;
  white-space: nowrap;
}
.log__up:hover {
  transition: all 0.2s;
  background-color: #b0f043;
  color: #0a0a27;
}
.log__up:active {
  background-color: #b286fd;
  color: #f5f5f5;
}

.page {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.page__wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 1em 2em 2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #d7d9dd;
  border-radius: 1em;
  z-index: 2;
  color: #f5f5f5;
  font-weight: 700;
  overflow: hidden;
  transition: all 0.3s linear;
}
.box:hover {
  transform: scale(1.05);
}
.box-main {
  padding: 2em;
  grid-area: 1/1/3/3;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #252525;
}
.box-sec {
  grid-area: 1/3/2/5;
  position: relative;
  background-color: #d7d9dd;
  color: #252525;
}
.box-3 {
  grid-area: 2/3/2/4;
  background-color: #b286fd;
}
.box-4 {
  grid-area: 2/4/3/5;
  background-color: #b0f043;
  color: #252525;
}
.box__link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.box__img--moon, .box__img--earphones {
  position: absolute;
  width: 100%;
  z-index: -1;
  right: -12em;
  top: 30%;
}
.box__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.box__header--main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: start;
}
.box__title {
  font-size: 0.8em;
  text-transform: uppercase;
}
.box__icon {
  width: 1.5em;
  height: 1.5em;
  color: #f5f5f5;
}
.box__arrow {
  rotate: -45deg;
  color: #252525;
}
.box__heading {
  font-size: 2em;
  align-self: start;
}
.box__heading--main {
  font-size: 3em;
}

.buttons {
  background-color: #d7d9dd;
  padding: 0.5em 1em;
  border-radius: 0.8em;
  gap: 0.5em;
  color: #252525;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.buttons:hover {
  background-color: #f5f5f5;
}
.buttons__left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.buttons__title {
  font-size: 0.6em;
  color: #949698;
  text-transform: uppercase;
}
.buttons__right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  padding-left: 0.5em;
  border-left: 2px solid #949698;
}

/*# sourceMappingURL=index.css.map */
